@tailwind base;
@tailwind components;
@tailwind utilities;


.post-content p{
margin-bottom: 0.4rem;
}

.post-content h1{
font-size: 1.5rem;
font-weight: 600;
font-family: sans-serif;
margin: 1.5rem 0;
}
.post-content h2{
font-size: 1.3rem;
font-family: sans-serif;
margin: 1.5rem 0;
}
.break-words {
    word-wrap: break-word;
    word-break: break-word;
}
